@inherits PlayerGeneralPartComponentBase

<div class="col-sm">
    <div>
        @PlayerGeneralInformationViewModel.FirstName
    </div>

    <div>
        @PlayerGeneralInformationViewModel.LastName
    </div>
</div>