@inherits PlayerStatisticsComponentBase

<div class="card">
    <div class="card-header">
        Player general statistics
    </div>
    <div class="card-body">
        First game date : @PlayerStatisticsViewModel.FirstGameDate
        Last game date : @PlayerStatisticsViewModel.LastGameDate
    </div>
</div>