@inherits PlayerStatisticsComponentBase

<div class="card">
    <div class="card-header">
        Player general statistics
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                First game date : @PlayerStatisticsViewModel.FirstGameDate
            </div>
            <div class="col-md-12">
                Last game date : @PlayerStatisticsViewModel.LastGameDate
            </div>
        </div>
    </div>
</div>