
# Created by https://www.gitignore.io/api/dotnetcore
# Edit at https://www.gitignore.io/?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
[Bb]in
[Oo]bj
[Dd]ebug
[Rr]elease

# Common node modules locations
/node_modules
/wwwroot/node_modules

appsettings.*.json

# End of https://www.gitignore.io/api/dotnetcore
