@page "/Player"
@inherits PlayerComponentBase
@using WebApp.Components


<p>Player Page</p>

<input type="text" @bind-value="PlayerId" />
<button @onclick="HandleClick">Test</button>

<PlayerGeneralPartComponent @bind-PlayerGeneralInformationViewModel="@PlayerGeneralInformationViewModel"></PlayerGeneralPartComponent>
<PlayerStatisticsComponent @bind-PlayerStatisticsViewModel="@PlayerStatisticsViewModel"></PlayerStatisticsComponent>