@page "/Player"
@inherits PlayerComponentBase
@using WebApp.Components


<p>Test</p>

<input type="text" @bind="PlayerId" />

<PlayerGeneralPartComponent PlayerGeneralInformationViewModel="@PlayerGeneralInformationViewModel"></PlayerGeneralPartComponent>